@model IEnumerable<ReportMvc.Models.Student>

@{
    ViewBag.Title = "StudentList";
}

<h2>StudentList</h2>
@Html.ActionLink("Export To Excel", "Reports", new { ReportType = "Excel" })|
@Html.ActionLink("Export To PDF", "Reports", new { ReportType = "PDF" })|
@Html.ActionLink("Export To Word", "Reports", new { ReportType = "Word" })|
@Html.ActionLink("Export To Image", "Reports", new { ReportType = "Image" })|

<br />
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
           
        </tr>
    }

</table>
